/* Mobile background */
.straightBar {
  background-image: linear-gradient(
    var(--gradient-start),
    var(--gradient-end)
  );  position: absolute;
  inset: 0;
  z-index: -1;
}

/* Desktop wave */
.wavyBackground {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.wavyBackground svg {
  width: 100%;
  height: auto;
  display: block;
}
