/* Mobile background */
.straightBar {
  background-image: linear-gradient(#72b200, #b4e956);
  position: absolute;
  inset: 0;
  z-index: -1;
}

/* Desktop wave */
.wavyBackground {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.wavyBackground svg {
  width: 100%;
  height: auto;
  display: block;
}
